* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --light-text: rgb(236, 236, 236);
  --page-background-color: #2b2a33;
  --form-background-color: #2f2c38;

  --small-unit: 1rem;
  --unit: 2rem;
  --bigger-unit: 4rem;
}

body {
  color: var(--light-text);
  margin: var(--small-unit);
  background-color: var(--page-background-color);
  padding: 0;
}

.main-container {
  display: grid;

  border: 1px solid black;
  background-color: var(--form-background-color);

  padding: var(--unit);
  margin: auto;

  max-width: 60rem;
  min-height: 40rem;
}

.main-container > * {
  display: grid;
  grid-template-columns: 1fr;
}

#add-kid {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.kid {
  border: 1px solid black;
  padding: 1rem;
}

#kid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#spouse-info,
#kids,
#work-status-container,
#study-container,
#works-container,
#marital-container,
#not-working-container,
#parental-leave-start-container,
#education-additional-container,
.kid,
.page > *,
#parental-leave-container {
  display: grid;
}

.kid > button {
  margin-top: 2rem;
}

.page-control-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  gap: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info > * {
  display: grid;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-control-container {
  justify-self: flex-end;
}

input,
button,
select {
  border: 2px solid grey;
  margin-bottom: 1rem;
}

input:required {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid red;
}

.hidden {
  display: none;
}
