* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --light-text: rgb(236, 236, 236);
  --page-background-color: #2b2a33;
  --form-background-color: #2f2c38;

  --small-unit: 1rem;
  --unit: 2rem;
  --bigger-unit: 4rem;
}

body {
  color: var(--light-text);
  margin: var(--small-unit);
  background-color: var(--page-background-color);
  padding: 0;
}

.main-container {
  border: 1px solid black;
  border-radius: var(--unit);
  background-color: var(--form-background-color);

  padding: 0 var(--unit);
  margin: auto;

  max-width: 60rem;
}

.main-container > * {
  display: grid;
  grid-template-columns: 1fr;
}

.submit-button {
  border-radius: 1rem;
  font-size: 1rem;
  padding: 1rem;
  margin: 2rem auto;
}

.kid {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

#spouse-info,
#kids,
#work-status-container,
#study-container,
#works-container,
#marital-container,
#not-working-container,
#parental-leave-start-container,
#education-additional-container,
.kid,
#parental-leave-container {
  display: grid;
}
